$header-backgound: #CBC1B1;
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 80px;
    width: auto;
    background-color: $header-backgound;
}
.header-logo img{
    height: 80px;
    width: 80px;
}
.header-menu{
    display: flex;
    gap: 20px;
    a{
        color: black;
        text-decoration: none;
    }
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 80px auto;
    gap: 20px
}
.item{
    display: flex;
    height: 100px;
    width: 270px;
    align-items: center;
    gap: 10px;
}
.footer{
    position: relative;
    bottom: 0;
    background-color: $header-backgound;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;

    p{
        text-align: center;
    }
}